@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body {
  padding-top: 60px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}
/* header */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}
/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a {
  color: #555;
}
footer a:hover {
  color: #222;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 15px;
}
/* slides */
.frame-image{
  width: 100%;
  height: 300px;
}
.margin-bottom-5px{
  margin-bottom: 5px;
}
.border-bottom{
  border-bottom: 1px solid #C5C5C5;
  font-family: Tahoma, Geneva, sans-serif;
  padding-bottom: 5px;
}
a.w3-btn-floating{
  display: inline-block;
  text-align: center;
  color: #242424;
  background-color: #C8C8C8;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  cursor: pointer;
  font-size: 15px;
  border-radius: 20px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 0;
}
.mySlides{
  width: 100%;
  height: 300px;
  display: none;
}
.mySlides:first-child {
  display: block;
}
a.w3-btn-floating:hover {
  color: #FFF;
  text-decoration: none;
  background: #242424;
}
.text-image{
  position: absolute;
  top: 20%;
  left: 10%
}

.frame-image{
  position: relative;
  width: 100%;
}
#icon-left{
  position: absolute;
  top: 45%;
  left: 0;
  z-index: 10;
}
#icon-right{
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 10;
}
